body {
   margin: 0;
}

.App {
   padding: 50px 200px;
}

.App * {
   padding: 5px;
}

.Parent {
   border: 1px solid blue;
   width: 300px;
}

.Child {
   border: 1px solid green;
}

.GrandChild {
   border: 1px solid red;
}
